.access { 
    pointer-events: none; 
    cursor: default; 
    text-decoration: none; 
    color:white; 
}

body {
    -webkit-user-select: none;
       -moz-user-select: -moz-none;
        -ms-user-select: none;
            user-select: none;
  }