.status-title span {
    display: var(--coco);
}
.status-title span {
    display: admin;
}
.status-title:after {
    content:
    " enabled";
    color: lawngreen;
}

/*enabled : lawngreen

/*disabled : red