Package: com.180.instagram
Name: instagram rocket 
Author: stemgrade
Description:
Depends: mobilesubstrate, preferenceloader
Maintainer: stemgrade
Architecture: iphoneos-arm
Section: stem_grade
Depiction: https://roarijo89.github.io/roarijo89-Tweak/description.html?id=com.180.instagram
Version: 0.0.3
Installed-Size: 656
