Package: com.roarijo89.Best
Name: Best Fiends hack
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: read Description
Maintainer: Coco Tweaks <>
Author: Coco Tweaks <>
Section: _Tweaks_
Depiction: https://roarijo89.github.io/roarijo89-Tweak/description.html?id=com.roarijo89.best
Version: 1.1
Installed-Size: 1468
