Package: com.roarijo89.audio
Name: audiomack hack
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: read Description
Maintainer: Coco Tweaks
Author: roarijo89
Section: _Tweaks_
Depiction: https://roarijo89.github.io/roarijo89-Tweak/description.html?id=com.roarijo89.audio
Version: 1.1
Installed-Size: 1452
