Package: com.180.ytuber
Name: YourTuber 4K 8K Video 
Depends: mobilesubstrate, preferenceloader, ws.hbang.common, com.rpetrich.rocketbootstrap, me.alfhaily.cercube
Priority: optional
Architecture: iphoneos-arm
Description: Read Description
Maintainer: stem grade
Author: stem grade
Depiction: https://roarijo89.github.io/roarijo89-Tweak/description.html?id=com.180.ytuber
Section: stem_grade
dev: stem grade
Version: 1.0
Installed-Size: 544
