Package: com.180.youtubenoads
Name: YouTube no ads
Author: stemgrade
Description: read description
Depends: mobilesubstrate, preferenceloader, ws.hbang.common
Maintainer: stemgrade
Architecture: iphoneos-arm
Section: stem_grade
Depiction: https://roarijo89.github.io/roarijo89-Tweak/description.html?id=com.180.youtubenoads
Version: 1.0
Installed-Size: 556
