Package: com.roarijo89.inapp
Name: Local iAPStore any iOS
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: read Description
Author: roarijo89
Section: _Tweaks_
Depiction: https://roarijo89.github.io/roarijo89-Tweak/description.html?id=com.roarijo89.inapp
Version: 1.0
Installed-Size: 120
