Package: com.roarijo89.jo
Name: Jonny Trigger hack
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: read Description
Maintainer: roarijo89 Tweaks <roarijoa@gmail.com>
Author: roarijo89
Section: _Tweaks_
Depiction: https://roarijo89.github.io/roarijo89-Tweak/description.html?id=com.roarijo89.jo
Version: 1.1
Installed-Size: 1468
