Package: com.roarijo89.icons
Version: 1.4
Architecture: iphoneos-arm
Name: Coco Tweaks Repo Icons
Description: Official Coco Tweaks Repo Icons
Priority: required
Essential: yes
Origin: Coco Tweaks repo
Source: https://repo.cocotweaks.net
Section: System
