Package: com.180.youtube
Name: Cercube for youtube
Author: stem grade
Description: read Description
Depends: mobilesubstrate, preferenceloader, ws.hbang.common
Maintainer: stem grade
Architecture: iphoneos-arm
Section: stem_grade
Version: 5.2.3
Depiction: https://roarijo89.github.io/roarijo89-Tweak/description.html?id=com.180.youtube
Installed-Size: 616
