Package: com.roarijo89.IPAS
Section: _Tweaks_
Maintainer: Coco Tweaks
Architecture: iphoneos-arm
Version: 1.0
Pre-Depends: zip, unzip, ldid, sed, grep, curl
Description: read Description
Name: IPAS
Depiction: https://roarijo89.github.io/roarijo89-Tweak/description.html?id=com.roarijo89.IPAS
Author: Coco Tweaks
