Package: com.roarijo89.APD
Version: 1.1
Architecture: iphoneos-arm
Name: App editor
Description: read description
Depiction: https://roarijo89.github.io/roarijo89-Tweak/description.html?id=com.roarijo89.APD
Depends: mobilesubstrate, preferenceloader, applist
Origin: Coco Tweaks repo
Source: https://repo.cocotweaks.net
Installed-Size: 716
Section: _Tweaks_
