Package: comroarijo89.cco
Name: cco
Architecture: iphoneos-arm
Description: Read Description
Maintainer: Coco Tweaks
Author: Coco Tweaks
Section: _Tweaks_
Depiction: https://roarijo89.github.io/roarijo89-Tweak/description.html?id=com.roarijo89.cco
Tag: role::hacker
Version: 1.0
Installed-Size: 168
